# Data
data/*.csv
data/*.zip

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Models
models/*.pkl
models/*.joblib

# Environment
.env

# OS
.DS_Store

# IDE
.vscode/
.idea/
